In [27]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [3]:
df1 = pd.read_csv('data/passenger_journey.csv')

In [42]:
gdf1 = gpd.read_file("data/stops.geojson")
geometry = gpd.points_from_xy(gdf1['Longitude'], gdf1['Latitude'])
gdf = gpd.GeoDataFrame(gdf1, geometry=geometry)
gdf = gdf.to_crs({'init': 'EPSG:29902'})
gdf.dropna(subset = ["AtcoCode"], inplace=True)
gdf = gdf.drop(columns = ["PlateCode", "SCN_Gaeilge", "Bearing", "NptgLocalityRef", "PtBayCount", "StandingArea", "BikeStand", "Bench", "Bin", "StopAccessibility", "WheelchairAccessibility", "CastleKerbing", "StepAtStop", "BikeLaneFront", "BikeLaneRear", "UD_Surveyor", "UD_Calculated", "IsSurveyed", "FootpathToStop"])

/home/alvaro/.local/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

- AtcoCode is identifying code
- SCN is name of stop
- StopType says if marked (MKD) or custom (CUS)

In [44]:
gdf.head()

,PtStopId,AtcoCode,SCN_English,StopType,TransportMode,Latitude,Longitude,geometry
0,2,702000000240,Europa Bus Centre,MKD,Bus,54.594593,-5.936601,POINT (333417.077 373773.869)
1,3,702000015363,Europa Bus Centre,MKD,Bus,54.594484,-5.93656,POINT (333420.083 373761.815)
2,4,702000015422,Europa Bus Centre,MKD,Bus,54.595054,-5.936268,POINT (333437.09 373825.808)
3,5,703000004183,Banbridge,MKD,Bus,54.346455,-6.271543,POINT (312448.712 345571.632)
4,6,7050B141561,Derrylin,CUS,Bus,54.191678,-7.565736,POINT (228395.742 327051.679)

In [5]:
df1["Mode of Transport"].value_counts()

Mode of Transport
Dublin Metro Bus                        290
Bus, excluding Dublin Metro             290
Rail                                    290
All public transport, excluding LUAS    290
Name: count, dtype: int64